<div class="collection-container">
  <div class="add-container">
    <div class="container-tittle">
      <h1>MY COLLECTIONS</h1>
    </div>
    <button mat-mini-fab class="add-button" aria-label="New Collection"><mat-icon color="white">add</mat-icon></button>
  </div>
  <br>
  <mat-card class="mat-card">
    <mat-card-title class="title">Name Example</mat-card-title>
    <div class="img-container">Image Example</div>
    <mat-card-content class="content">Cont Example</mat-card-content>
  </mat-card>
</div>
