.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-sm-4 {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.form-Label1, .form-Label2 {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control, .form-control1 {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #333;
}

.bottonEditar {
  display: block;
  margin: 0 auto;
  background-color: red !important;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.bottonEditar:hover {
  background-color: #3071a9;
}
.text-center {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-shadow: 1px 1px #ccc;
}
.col-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
