<div class="header-content1">
  <a mat-button class="action-button" routerLink="/home" target="_self">MYSHOES</a>
  <span class="default-spacer"></span>
  <a mat-button class="action-button2" href="/collection" target="_self">
    <mat-icon>shopping_cart</mat-icon> MY SHOPPING</a>
  <a mat-button class="action-button2" routerLink="/profile" target="_self">
    PROFILE<mat-icon>account_circle</mat-icon></a>
  <a mat-button class="action-button2" href="/login" target="_self">
    <mat-icon>logout</mat-icon></a>
</div>
<div class="header-content2">
  <a mat-button class="action-button2" href="/shop" target="_self">
    MEN<mat-icon>noise_control_off</mat-icon></a>
  <a mat-button class="action-button2" href="/shop" target="_self">
    WOMEN<mat-icon>noise_control_off</mat-icon></a>
  <a mat-button class="action-button2" href="/shop" target="_self">
    CHILDREN<mat-icon>noise_control_off</mat-icon></a>
  <div class="search-container">
    <form>
      <input type="text" placeholder="Search...">
    </form>
  </div>
  <a mat-button class="action-button2" href="/shop" target="_self">
    TRENDS</a>
  <a mat-button class="action-button2" href="/collection" target="_self">
    COLLECTION</a>
  <a mat-button class="action-button2" href="/design" target="_self">
    DESIGN</a>
  <span class="default-spacer"></span>
  <a mat-button class="action-button3" href="/shop" target="_self">
    BUY</a>
</div>

