<app-header-content></app-header-content>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="mb-3" form-group>
        <label class="form-Label1">Name</label>
        <input type="text" [formControl]="name" class="form-control" />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3" form-group>
        <label class="form-Label2">E-mail</label>
        <div class="div input-group">
          <input type="email" [formControl]="email" class="form-control1" />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3" form-group>
        <label class="form-Label1">Password</label>
        <input type="password" [formControl]="password" class="form-control" />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3" form-group>
        <label class="form-Label2">Country</label>
        <input type="text" [formControl]="country" class="form-control1" />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3" form-group>
        <label class="form-Label2">Phone Number</label>
        <div class="div input-group">
          <input type="number" [formControl]="phone" class="form-control1" />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3" form-group>
        <label class="form-Label2">New password</label>
        <div class="div input-group">
          <input type="password" [formControl]="newpassword" class="form-control" />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3" form-group>
        <label class="form-Label2">Confirm new password</label>
        <div class="div input-group">
          <input type="password" [formControl]="confirmpassword" class="form-control1" />
        </div>
      </div>
    </div>
    <div class="col-1">
      <a mat-button class="bottonEditar" routerLink="/profile" (click)="saveChanges()">SAVE CHANGES</a>
    </div>
    <br>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer-content></app-footer-content>
