<app-header-content/>
<br>
<div>
  <h1>DESIGN YOR SHOE</h1>
</div>
<div class="container">
  <div class="shoe-selection">
    <mat-form-field appearance="fill">
      <mat-label>Select a shoe</mat-label>
      <mat-select (selectionChange)="onShoeSelection($event.value)">
        <mat-option *ngFor="let item of shoes" [value]="item">{{ item.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-card class="card-container" *ngIf="selectedShoe">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{selectedShoe.name}}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <img class="image" [src]="selectedShoe.img" alt="{{ selectedShoe.name }}" style="width: 100%; height: auto;">
  </mat-card>
  <div class="color-selection" *ngIf="showColorField">
    <div class="color-container">
      <mat-form-field appearance="fill">
        <mat-label>Select a color</mat-label>
        <mat-select [(ngModel)]="selectedColor">
          <mat-option value="red">Red</mat-option>
          <mat-option value="blue">Blue</mat-option>
          <mat-option value="black">Black</mat-option>
          <mat-option value="white">White</mat-option>
          <mat-option value="yellow">Yellow</mat-option>
          <mat-option value="green">Green</mat-option>
          <mat-option value="brown">Brown</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="color-circle" [style.backgroundColor]="selectedColor"></div>
    </div>
    <div *ngIf="showColorField">
      <mat-form-field appearance="fill">
        <mat-label>Select a material</mat-label>
        <mat-select [(ngModel)]="selectedMaterial">
          <mat-option value="tela">Tela</mat-option>
          <mat-option value="algodon">Algodón</mat-option>
          <mat-option value="cuero">Cuero</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-button-toggle>SAVE</mat-button-toggle>
  </div>
</div>
<br>
<app-footer-content/>
