.main-content1{
  display: flex;
  width: 100%;
  margin-bottom: 2px;
}
.main-content2{
  display: flex;
  margin: 5px;
}
.main-content3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.button-inside-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color:white !important;
}
.img1{
  max-width: 50%;
  max-height: 50%;
}
.article-card {
  margin: 5px;
  width: 25%;
}
.action-button2 {
  display: flex;
  background-color: black;
  align-items: center;
  font-size: large;
  color: white !important;
  margin: 15px;
  width:15%;
}
.default-spacer {
  flex: 1 1 auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.img-container img {
  max-width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.price-container{
  text-align: center;
  padding: 15px;
  font-size: 20px;
  font-style: bold;
}

.mat-card {
  padding: inherit;
  box-shadow: black 0px 0px 10px;
}

.content {
  padding: 15px;
  font-size: 15px;
}
