<div class="main-content1">
  <a mat-button class="action-button2" href="/shop" target="_self">
    TRENDS<mat-icon>local_fire_department</mat-icon></a>
  <span class="default-spacer"></span>
  <a mat-button class="action-button2" href="/shop" target="_self">
    SEE MORE<mat-icon>more_horiz</mat-icon></a>
</div>
<div class="main-content2">
  <div class="column" *ngFor="let item of trends">
    <mat-card class="mat-card">
      <mat-card-title class="title">{{item.name}}</mat-card-title>
      <div class="img-container"><img src="{{item.img}}" alt="{{item.name}}"></div>
      <div class="price-container">Price ${{item.price}}</div>
      <mat-form-field appearance="fill">
        <mat-label>Size</mat-label>
        <mat-select>
          <mat-option value="8 US">8 US</mat-option>
          <mat-option value="8.5 US">8.5 US</mat-option>
          <mat-option value="9 US">9 US</mat-option>
          <mat-option value="9.5 US">9.5 US</mat-option>
        </mat-select>
      </mat-form-field>
      <button style="background-color: black; color:white" mat-raised-button label="BUY">BUY</button>
    </mat-card>
  </div>
</div>

<div class="main-content3">
  <img class="img1" src="https://cdn.discordapp.com/attachments/1094699396026880057/1103450727713611796/image.png" alt="ZAPATILLAS DISEÑO"/>
  <a mat-button class="button-inside-image" href="/design">Start to design</a>
</div>
