<div class="main-content1">
  <a mat-button class="action-button2" href="/index.html" target="_self">
    TRENDS<mat-icon>local_fire_department</mat-icon></a>
  <span class="default-spacer"></span>
  <a mat-button class="action-button2" href="/index.html" target="_self">
    SEE MORE<mat-icon>more_horiz</mat-icon></a>
</div>
<div class="main-content2">
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>ZAPATILLA FLORES Y AVES</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <img mat-card-image src="assets/zapatillas1.jpg" alt="ZAPATILLA FLORES Y AVES"/>
    <mat-card-content>
      <p>PRECIO: S/220.00</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>ZAPATILLA PELUCHES </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <img mat-card-image src="assets/zapatillas2.jpg" alt="ZAPATILLA PELUCHES"/>
    <mat-card-content>
      <p>PRECIO: S/189.00</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>ZAPATILLA CORAZONES</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <img mat-card-image src="assets/zapatillas3.jpg" alt="ZAPATILLA CORAZONES"/>
    <mat-card-content>
      <p>PRECIO: S/149.00</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>ZAPATILLA SNOOPY</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <img mat-card-image src="assets/zapatillas4.jpg" alt="ZAPATILLA SNOOPY"/>
    <mat-card-content>
      <p>PRECIO: S/200.00</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="main-content3">
  <img class="img1" src="assets/zapatillas5.jpg" alt="ZAPATILLAS DISEÑO"/>
  <a mat-button class="button-inside-image" href="/index.html">EMPIEZA A DISEÑAR</a>
</div>
