<div class = "container">
  <form class="password-form">
    <h2>Reset Password</h2>
    <img mat-card-image src="assets/send-email.png" alt="send-email-image" height="150" width="150"/>
    <p>Si el correo existe dentro de nuestro sistema </p>
    <p>se enviara un correo electronico para reestablecer.</p>
    <br>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" class="inputForm" [formControl]="emailFormControl" placeholder="Ex pat@example.com" [(ngModel)]="email" required name="email">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="warn" (click)="sendResetPasswordEmail()" >Send Email</button>
  </form>
</div>
