<app-header-content/>
<div class="collection-container">
  <div class="add-container">
    <div class="container-tittle">
      <h1>MY COLLECTIONS</h1>
    </div>
  </div>
  <br>

  <!-- Mini Formulario para crear una nueva colleción -->
  <mat-card class="mat-card">
    <mat-card-content class="content">
      <div class="container">
        <div class="image">Num1</div>
        <div class="description">
          <mat-form-field class="example-full-width">
            <mat-label>Collection Title</mat-label>
            <input matInput type="text" class="inputForm" placeholder="Title" [(ngModel)]="title" required name="title">
          </mat-form-field>
        </div>
        <div class="options">
          <button mat-icon-button aria-label="Submit" (click)="create()"><mat-icon>done</mat-icon></button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br>

  <div class="column" *ngFor="let item of collections">
    <mat-card class="mat-card">
      <mat-card-content class="content">
        <div class="container">
          <div class="image">Num1</div>
          <div class="description">
            <h1>{{item.name}}</h1>
            <p>Created At: {{item.createdAt | date}}</p>
          </div>
          <div class="options">
            <button mat-icon-button aria-label="Edit" routerLink="/update-collection"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button aria-label="Visibility"><mat-icon>visibility_off</mat-icon></button>
            <button mat-icon-button aria-label="Delete" (click)="delete(item.id)"><mat-icon>deleted_forever</mat-icon></button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <br>
  </div>
</div>
